.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .sidenav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .sidebar {
      display: flex;
      flex-direction: column;
      background-color: #434054;

      a {
        display: flex;
        width: 100%;
        color: #fff;
        padding: 0.7em;
        margin-right: 1em;

        mat-icon {
          margin-left: auto;
        }
      }
    }

    .sidebar-content {
      overflow-y: auto;
      width: 100%;
    }
  }
}
