<section class="login-section">
    <div class="row">
        <div class="col col-md">
            <form [formGroup]="userLoginData">
                <mat-card>
                    <mat-card-content class="d-flex justify-content-center flex-column p-3">
                        <h3 class="pb-2">Login</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>Email:</mat-label>
                            <input matInput formControlName="email" type="text">
                            <mat-error *ngIf="userLoginData.controls['email'].invalid && (userLoginData.controls['email'].dirty || userLoginData.controls['email'].touched)">
                                <mat-error *ngIf="userLoginData.controls['email'].errors.pattern">
                                    Email is invalid!
                                </mat-error>
                                <mat-error *ngIf="userLoginData.controls['email'].errors.required">
                                    Email is reqired!
                                </mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password:</mat-label>
                            <input matInput formControlName="password" type="password">
                            <mat-error *ngIf="userLoginData.controls['password'].invalid && (userLoginData.controls['password'].dirty || userLoginData.controls['password'].touched)">
                                <mat-error *ngIf="userLoginData.controls['password'].errors.required">
                                    Password is reqired!
                                </mat-error>
                            </mat-error>
                        </mat-form-field>  
                        <button mat-raised-button color="primary" class="mb-3" [disabled]="userLoginData.pristine || userLoginData.invalid">Login</button>
                        <button mat-stroked-button color="primary" routerLink="/auth/register">You don't have an account yet?</button>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
    </div>
</section>
  
  
  
